/*=============================================
=                  General                    =
=============================================*/

* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}

/*=============================================
=                  Navbar                     =
=============================================*/

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

/*=============================================
=                  Header                     =
=============================================*/
#header {
    background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/09/Cosmic_Shear_2880x1620_Lede.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 150px 0px;
    border-radius: 0;
    position: relative;
}

#header:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#header>.container {
    position: relative;
    z-index: 6;
}

/*=============================================
=                  Intro                      =
=============================================*/

/*=============================================
=                  Features                   =
=============================================*/

/*=============================================
=                  Reviews                    =
=============================================*/

/*=============================================
=                  Gallery                    =
=============================================*/

/* TODO: 設定Hover特效 */

[id^='galleryImage'] {
    background-size: cover;
    height: 250px;
}

[id^='galleryImage']>.galleryText {
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    text-align: center;
}

/* 放入背景圖片 */

#galleryImage1 {
    background-image: url('../img/galleryImage1.jpg');
}

#galleryImage2 {
    background-image: url('../img/galleryImage2.jpg');
}

#galleryImage3 {
    background-image: url('../img/galleryImage3.jpg');
}

#galleryImage4 {
    background-image: url('../img/galleryImage4.jpg');
}

#galleryImage5 {
    background-image: url('../img/galleryImage5.jpg');
}

#galleryImage6 {
    background-image: url('../img/galleryImage6.jpg');
}

#galleryImage7 {
    background-image: url('../img/galleryImage7.jpg');
}

#galleryImage8 {
    background-image: url('../img/galleryImage8.jpg');
}

/*=============================================
=                  Start Now                  =
=============================================*/

/*=============================================
=                   Footer                    =
=============================================*/

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}